<?xml version="1.0" encoding="UTF-8"?>
	
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="KeyValueDatabase" class="hw7.KeyValueDatabase"
		init-method="openDatabase" destroy-method="closeDatabase">
		<property name="databaseLoadFile" value="/tmp/occurrence.txt" />
		<property name="databaseLocation" value="/tmp/berkeleydb" />
	</bean>
	
	<bean id="DispachHandler" class="hw7.DispachHandler">
		<property name="database" ref="KeyValueDatabase"></property>
	</bean>

</beans>